# Build directories
build/
out/
cmake-build-*/

# IDE specific files
.vs/
.vscode/
.idea/
*.swp
*.swo

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
*.cmake
install_manifest.txt
compile_commands.json

# OS specific
.DS_Store
Thumbs.db
